<a href="https://colab.research.google.com/github/hritic/Machine-learning/blob/main/191CS150_NaiveBayes_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd
url = "/content/drive/My Drive/Colab Notebooks/Lab 6/play_tennis.csv"
dataset = pd.read_csv(url)
print("Shape of the data:")
print(dataset.shape)
print("\nData Type:")
print(type(dataset))
print("\nFirst 10 rows:")
print(dataset.head(10))

Shape of the data:
(14, 6)

Data Type:
<class 'pandas.core.frame.DataFrame'>

First 10 rows:
   day   outlook  temp humidity    wind play
0   D1     Sunny   Hot     High    Weak   No
1   D2     Sunny   Hot     High  Strong   No
2   D3  Overcast   Hot     High    Weak  Yes
3   D4      Rain  Mild     High    Weak  Yes
4   D5      Rain  Cool   Normal    Weak  Yes
5   D6      Rain  Cool   Normal  Strong   No
6   D7  Overcast  Cool   Normal  Strong  Yes
7   D8     Sunny  Mild     High    Weak   No
8   D9     Sunny  Cool   Normal    Weak  Yes
9  D10      Rain  Mild   Normal    Weak  Yes

1. Implement Naive Bayes without using library function.
2. Split Train Test as 80% and 20%. Set Random state as 6.
3. Calculate accuracy.

Declaring feature variable and target variable.

In [ ]:
#left day since they cant be used to predict.
x = pd.get_dummies(dataset[['outlook', 'temp', 'humidity', 'wind']])
y = pd.DataFrame(dataset['play'])

In [ ]:
x.head()

,outlook_Overcast,outlook_Rain,outlook_Sunny,temp_Cool,temp_Hot,temp_Mild,humidity_High,humidity_Normal,wind_Strong,wind_Weak
0,0,0,1,0,1,0,1,0,0,1
1,0,0,1,0,1,0,1,0,1,0
2,1,0,0,0,1,0,1,0,0,1
3,0,1,0,0,0,1,1,0,0,1
4,0,1,0,1,0,0,0,1,0,1

In [ ]:
y.head()

  play
0   No
1   No
2  Yes
3  Yes
4  Yes

Spliting dataset in 80:20 train-test ratio.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 6)

using sklearn library to use Naive bayes classifier.

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
#accuracy
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0